$neutral-colors: (
        50: #FAFBFF,
        100: #F5F7FF,
        200: #EAF0FF,
        300: #D3DDF7,
        400: #92A6D5,
        500: #7A88AB,
        600: #626E89,
        700: #47546E,
        800: #2F3A52,
        900: #212B40,
);