*,
*::after,
*::before{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  font-family: var(--font-family-base), sans-serif;
  color: inherit;
  text-decoration: none;
}

ul,ol,li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

input,
button,
textarea {
  font-family: var(--font-family-base), sans-serif;
  font-size: inherit;
}

button {
  padding: 0;
  color: inherit;
  cursor: pointer;
  background-color: inherit;
  border: none;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-size-body-small);
  line-height: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance:textfield;
}

input:-webkit-autofill {
  background-clip: text;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: none;
}